<section class="help-page">
    <h1>AIDE</h1>
  
    <section class="help-section">
      <h2>Au préalable</h2>
      <p>
        Avant de demander de l'aide, nous vous recommandons de bien lire les ouvrages.<br>
        Pour LFS, les chapitres 2, 4 et 5, surtout les 5 premières sections, sont tout particulièrement importantes.<br>
        Par ailleurs, nous vous conseillons fortement de consulter préalablement la 
        <a href="https://fr.linuxfromscratch.org/faq/">FAQ</a> du projet.
      </p>
    </section>
  
    <section class="help-section irc-box">
      <div class="image-placeholder">
        <img src="assets/linux.png" alt="Illustration IRC">
      </div>
      <div class="irc-text">
        <h2>IRC</h2>
        <p>
          Rendez-vous sur le canal irc <strong>#lfs-fr</strong> sur 
          <a href="https://irc.libera.chat" target="_blank">irc.libera.chat</a>.<br>
          Merci de bien vouloir ne pas utiliser de copier-coller lorsque celui-ci dépasse 3 lignes.<br>
          Utilisez dès lors préférentiellement <a href="#">framabin</a> et partagez le lien.
        </p>
      </div>
    </section>
  
    <section class="help-section">
      <h2>Liste de diffusion</h2>
      <p>
        Notre projet dispose d'une Liste de diffusion :
        <a href="mailto:lfs-traduccfr@lists.linuxfromscratch.org">lfs-traduccfr&#64;lists.linuxfromscratch.org</a><br>
        N'hésitez pas à vous <a href="https://lists.linuxfromscratch.org/listinfo/lfs-traducfr/">inscrire</a> !<br>
        Les <a href="https://lists.linuxfromscratch.org/pipermail/lfs-traducfr/">archives</a> sont aussi disponibles.
      </p>
    </section>
  
    <section class="help-section">
      <h2>Forum</h2>
      <p>
        Vous pouvez aussi vous rendre sur le <a href="https://www.absolinux.net/forums/ip.php?central=sujets.php&forum=8">forum</a> hébergé par <a href="https://www.absolinux.net/news/ip.php?central=list_news.php">absolinux</a>.
      </p>
    </section>
  </section>
  