<div class="accueil-LSF-BLFS">
    <div class="div">
      <header class="naviation-right">
        <img class="logo-2" src="img/logo.svg" alt="TRADE logo" />
        <h1 class="title-5">Linux From Scratch FR</h1>
        <nav class="navbar">
          <ul>
            <li><a href="#" class="link-15">LFS</a></li>
            <li><a href="#" class="link-14">BLFS</a></li>
            <li><a href="#" class="link-13">CLFS</a></li>
            <li><a href="#" class="link-12">ASTUCES</a></li>
            <li><a href="#" class="link-11">AIDE</a></li>
            <li><a href="#" class="link-10">Équipe</a></li>
            <li><a href="#" class="link-9">CONTRIBUER</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <section class="hero-center">
          <h2 class="title-4">Linux From Scratch</h2>
          <p class="subtitle">
            Site de la communauté francophone.
          </p>
          <a href="#" class="button-primary-2"><span class="text-2">Lire LFS</span></a>
          <img class="img" src="img/image.svg" alt="Illustration" />
        </section>
        <section class="posts-blog-top">
          <div class="overlap-3">
            <div class="rectangle"></div>
            <article class="blog-card-feature">
              <div class="overlap-4">
                <h3 class="title-2">LFS 12.2 est sortie</h3>
                <a href="#" class="link-7">Read More</a>
              </div>
            </article>
            <article class="blog-card-feature-2">
              <div class="overlap-4">
                <h3 class="title-3">BLFS 12.2 est sortie</h3>
                <a href="#" class="link-8">Read More</a>
              </div>
            </article>
            <article class="blog-card">
              <div class="group-3">
                <div class="overlap-group-2">
                  <h3 class="title">LFS 12.1 est sortie</h3>
                  <a href="#" class="link-5">Read More</a>
                </div>
              </div>
            </article>
            <article class="group-wrapper">
              <div class="group-3">
                <div class="overlap-group-2">
                  <h3 class="title">BLFS 12.1 est sortie</h3>
                  <a href="#" class="link-6">Read More</a>
                </div>
              </div>
            </article>
          </div>
        </section>
        <section class="CTA-narrow">
          <div class="overlap-2">
            <div class="background"></div>
            <a href="#" class="button-primary"><span class="text">Lire plus</span></a>
          </div>
        </section>
      </main>
      <!--<footer class="footer-center">
        <h2 class="logo">TRADE</h2>
        <nav>
          <div class="links-left">
            <h3 class="text-wrapper">Product</h3>
            <a href="#" class="link-2">Features</a>
          </div>
          <div class="links-right">
            <a href="#" class="link-3">Blog</a>
            <a href="#" class="link-4">Support</a>
          </div>
        </nav>
        <img class="divider" src="img/divider.svg" alt="" />
        <div class="social-media">
          <a href="#" class="group" aria-label="Social media link">
            <div class="overlap-group">
              <img class="image" src="img/image-6.svg" alt="" />
              <div class="ellipse"></div>
            </div>
          </a>
          <a href="#" class="overlap-wrapper" aria-label="Social media link">
            <div class="overlap-group">
              <img class="image" src="img/image-2.svg" alt="" />
              <div class="ellipse"></div>
            </div>
          </a>
          <a href="#" class="overlap-group-wrapper" aria-label="Social media link">
            <div class="overlap-group">
              <img class="image" src="img/image-4.svg" alt="" />
              <div class="ellipse"></div>
            </div>
          </a>
          <a href="#" class="div-wrapper" aria-label="Social media link">
            <div class="overlap-group">
              <img class="image" src="img/image-3.svg" alt="" />
              <div class="ellipse"></div>
            </div>
          </a>
          <a href="#" class="group-2" aria-label="Social media link">
            <div class="overlap-group">
              <img class="image" src="img/image-5.svg" alt="" />
              <div class="ellipse"></div>
            </div>
          </a>
        </div>
        <p class="copyright">© 2010 — 2020</p>
        <p class="link">Privacy — Terms</p>
      </footer>--->
    </div>
  </div>
