<div class="accueil">
  <main>
    <!-- Hero Section -->
    <section class="hero">
      <div class="hero-content">
        <h2>Linux From Scratch</h2>
        <p>Linux From scratch est un livre décrivant l'installation étape par étape d'un système d'exploitation Linux à partir du code source. Vous trouvez aussi sur ce site les traductions de CLFS et HLFS, des variantes de LFS ainsi que BLFS, qui poursuit le livre avec plus de programmes et offre la possibilité d'installer un environnement graphique.
          Ce site contient aussi des astuces permettant d'adapter le système selon les besoins du lecteur. </p>
        <a href="/version" class="button">Lire LFS</a>
      </div>
      <div class="hero-image">
        <img src="assets/ifs.svg" alt="Illustration">
      </div>
    </section>

    <!-- Blog Cards -->
    <section class="blog-posts">
      <article class="blog-card black">
        <h3>LFS 12.2 est disponible</h3>
        <p>Nous sommes heureux de vous annoncer la sortie de LFS 12.2 conjointement en version SysV et Systemd, ainsi que la sortie de BLFS 12.2 dans...</p>
        <div class="links">
          <a href="https://fr.linuxfromscratch.org/01-09-2024-lfs-12.2-est-disponible/">Read More</a>
        </div>
      </article>
      <article class="blog-card black">
        <h3>BLFS 12.2 est là !</h3>
        <p>Nous sommes heureux de vous annoncer la sortie de BLFS 12.2 conjointement en version SysV et Systemd. </p>
        <div class="links">
          <a href="https://fr.linuxfromscratch.org/01-09-2024-blfs-est-la/">Read More</a>
        </div>
      </article>
      <article class="blog-card white">
        <h3>LFS 12.1 est disponible</h3>
        <p>Nous sommes heureux de vous annoncer la sortie de LFS 12.1 conjointement en version SysV et Systemd, ainsi que la sortie de BLFS 12.1 dans... </p>
        <div class="links">
          <a href="https://fr.linuxfromscratch.org/01-03-2024-lfs-12.1-est-disponible/">Read More</a>
        </div>
      </article>
      <article class="blog-card white">
        <h3>BLFS 12.1 est là !</h3>
        <p>Nous sommes heureux de vous annoncer la sortie de BLFS 12.1 conjointement en version SysV et Systemd. </p>
        <div class="links">
          <a href="https://fr.linuxfromscratch.org/01-03-2024-blfs-est-la/">Read More</a>
        </div>  
      </article>
    </section>

    <!-- CTA Button -->
    <section class="cta">
      <a href="https://fr.linuxfromscratch.org/tag/BLFS/" class="button large">TOUTES LES NOUVELLES</a>
    </section>
  </main>
</div>
