<header class="naviation-right">
    <div class="left">
        <img class="logo-2" src="assets/lfs.png" alt="TRADE logo" />
        <h1 class="title-5"><a id="title-header" href="/">Linux From Scratch FR</a></h1>
    </div>
    
    <nav class="navbar">
      <ul>
        <li><a href="/version" class="link-15">LFS</a></li>
        <li><a href="#" class="link-14">BLFS</a></li>
        <li><a href="#" class="link-13">CLFS</a></li>
        <li><a href="#" class="link-12">ASTUCES</a></li>
        <li><a href="/help" class="link-11">AIDE</a></li>
        <li><a href="#" class="link-10">Équipe</a></li>
        <li><a href="#" class="link-9">CONTRIBUER</a></li>
      </ul>
    </nav>
</header>
